<h1>Sign In</h1>

<% if flash[:error] %>
	<p><%= flash[:error] %></p>
<% end %>

<%= form_tag(sessions_path) do |f| %>
  <%= label_tag :email, 'your email goes here:'%><br>
  <%= text_field_tag :email%><br>
  <%= label_tag :password, 'your password goes here:'%><br>
  <%= password_field_tag :password%><br>
  <%= submit_tag :login%><br>
<% end %>
<a href="/">register</a>